body{
	background: #FF0000;
}

#im1{
	margin-top: 5%;
	margin-left: 5%;
	border:10px outset #FE2E2E;
	margin-bottom: 5%;

}
#social{
	margin-top: 80%;
	border:10px outset #FE2E2E;
}
#saludo{
	color: #FBF8EF;
	text-align: center;
	font-size: 70px;
	font-family: verdana;
	font-weight: bold;
	text-shadow: 5px 5px 10px red;
}
#titulo1{
	margin-left: 25px;
	font-family: helvetica;
	font-size: 50px;
	color: #610B0B;
	font-weight: bold;
	
}
#articulo1{
	margin-right: 25px;
	margin-left: 25px;
	font-size: 17px;
	color: #610B0B;
}
#im2{
	width: 250px;
	height: 250px;
	margin:25px;
	border:10px outset #FE2E2E;
}
#comment{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
 #titulobus{
 	color: #610B0B;
 	font-weight: bold;
 	font-family: helvetica;
 	text-align:center;
 	height: 50px;
 }
#opbus{
	 list-style-type: none;
	 background: #151515;
	 font-family: verdana;
	 font-size: 18px;
	 text-align: center;
	 font-weight: bold;
	 color: #FFFFFF;
	 border:5px ridge #FBEFEF;
}
#opbus2{
	list-style-type: none;
	background: #E6E6E6;
	font-family: verdana;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color:#151515;
	border:5px ridge #8A0808;
}
#im3{
	width: 200px;
	height: 200px;
	margin-top: 8%;
	margin-bottom: 10%;
	margin-left: 22%;
	border:10px outset #FE2E2E;
	
}
#musvida{
	font-weight: bold;
	font-family: verdana;
	color: #8A0808;
	text-align: center;
}
footer{
	background-color: #151515;
	height: 50px;
	width: 100%;
	clear: both;
	margin:0 auto;
	display: flex;
	flex-direction: row;	
}
#derechos{
	font-weight: bold;
	font-family: verdana;
	font-size: 14px;
	color: #F2F2F2;
	text-align: center;
	margin-top: 2%;
}
#contacto{
	font-weight: bold;
	font-family: verdana;
	font-size: 14px;
	color: #F2F2F2;
	text-align: center;
	margin-top: 3%;