body{
	background: #FF0000;
}

#im1{
	margin-top: 5%;
	margin-left: 5%;
}
#social{
	margin-top: 100%;
}
#saludo{
	color: #FBF8EF;
	text-align: center;
	font-size: 70px;
	font-family: verdana;
	font-weight: bold;
	text-shadow: 5px 5px 10px red;
}
#titulo1{
	margin-left: 25px;
	font-family: helvetica;
	font-size: 50px;
	color: #610B0B;
	font-weight: bold;
	
}
#articulo1{
	margin-right: 25px;
	margin-left: 25px;
	font-size: 17px;
	color: #610B0B;
}
#im2{
	width: 250px;
	height: 250px;
	margin:25px;
}
#comment{
	float: center;
}